<div class="page page-dashboard">
    <div class="row">
        <div class="col-lg-8 col-xsm-7">
            <h2 class="section-header">Dashboard</h2>
            <p class="lead">Gestiona usuarios que podrán ver dónde te encuentras</p>
        </div>
        <div class="col-lg-4 col-xsm-5row" data-ng-controller="chartCtrl">
            <div class="col-lg-6 col-xsm-6">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <div easypiechart options="easypiechartsm4.options" percent="easypiechartsm4.percent" class="easypiechart easypiechart-sm">
                            <span class="pie-percent" ng-bind="easypiechartsm4.percent"></span>
                        </div>
                        <p class="text-center text-muted">Usuarios añadidos</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xsm-6">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <div easypiechart options="easypiechartsm4.options" percent="easypiechartsm4.percent" class="easypiechart easypiechart-sm">
                            <span class="pie-percent" ng-bind="easypiechartsm4.percent"></span>
                        </div>
                        <p class="text-center text-muted">Usuarios añadidos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ui-section">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body table-responsive">
                                    <table class="table no-margin">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Usuario</th>
                                                <th>Puede verte</th>
                                                <th>Puedes verle</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Amery Lee</td>
                                                <td><span class="label label-info">Pending</span></td>
                                                <td>
                                                    <progressbar class="progressbar-xs no-margin" value="55"></progressbar>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Romayne Carlyn</td>
                                                <td><span class="label label-primary">Due</span></td>
                                                <td>
                                                    <progressbar class="progressbar-xs no-margin" value="34" type="success"></progressbar>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <section class="panel panel-default">
                        <div class="panel-body" data-ng-controller="MapDemoCtrl">
                            <map class="ui-map" zoom="14" center="[43.6650000, -79.4103000]"></map>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
