<div class="page page-dashboard" ng-controller="dashboardCtrl">
    <div class="row">
        <div class="col-lg-8 col-xsm-7">
            <h2 class="section-header">Dashboard</h2>
            <p class="lead">Gestiona usuarios que podrán ver dónde te encuentras</p>
        </div>
        <div class="col-lg-4 col-xsm-5row">
            <div class="col-lg-6 col-xsm-6">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <div easypiechart options="easypiechartsm4.options" percent="easypiechartsm4.percent" class="easypiechart easypiechart-sm">
                            <span class="pie-percent" ng-bind="easypiechartsm4.percent"></span>
                        </div>
                        <p class="text-center text-muted">Usuarios añadidos</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xsm-6">
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <div easypiechart options="easypiechartsm4.options" percent="easypiechartsm4.percent" class="easypiechart easypiechart-sm">
                            <span class="pie-percent" ng-bind="easypiechartsm4.percent"></span>
                        </div>
                        <p class="text-center text-muted">Usuarios añadidos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ui-section">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body table-responsive">
                                    <table class="table no-margin">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Device Id</th>
                                                <th>Activar</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="device in devices">
                                                <td>{{$index}}</td>
                                                <td>{{device.deviceId}}</td>
                                                <td><span class="label label-info">{{device.status}}</span></td>
                                                <td>
                                                    <md-button class="md-raised md-warn btn-xs" ng-click="deleteDevice(device._id)"><span class="imd imd-delete"></span></md-button>
                                                    <div class="divider"></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div layout="row" layout-align="space-around center" layout-margin ng-if="totalFriends > friends.length">
                                    <div flex="66">
                                        <md-input-container>
                                            <label>DeviceId</label>
                                            <input ng-model="device.deviceId">
                                        </md-input-container>
                                    </div>
                                    <div flex="33">
                                        <md-button ng-click="saveDevice(device)" class="md-raised btn-w-sm md-primary">Add</md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body table-responsive">
                                    <table class="table no-margin">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Usuario</th>
                                                <th>Puede verte</th>
                                                <th>Puedes verle</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="friend in friends">
                                                <td>{{$index}}</td>
                                                <td>{{friend.email}}</td>
                                                <td><span class="label label-info">{{friend.canSee}}</span></td>
                                                <td>
                                                    <span class="label label-info">{{friend.seeing}}</span>
                                                </td>
                                                <td>
                                                    <md-button class="md-raised md-warn btn-xs" ng-click="deleteFriend(friend._id)"><span class="imd imd-delete"></span></md-button>
                                                    <div class="divider"></div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div layout="row" layout-align="space-around center" layout-margin ng-if="totalFriends > friends.length">
                                    <div flex="66">
                                        <md-input-container>
                                            <label>Email</label>
                                            <input ng-model="friend.email">
                                        </md-input-container>
                                    </div>
                                    <div flex="33">
                                        <md-button ng-click="saveFriend(friend)" class="md-raised btn-w-sm md-primary">Add</md-button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <section class="panel panel-default">
                        <div class="panel-body" data-ng-controller="MapDemoCtrl">
                            <map class="ui-map" zoom="14" center="[43.6650000, -79.4103000]"></map>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
