<div class="page-signup" ng-controller="authCtrl">
    <div class="signin-header">
        <section class="logo text-center">
            <h1><a href="#/">{{main.brand}}</a></h1>
        </section>
    </div>
    <div class="wrapper">
        <div class="main-body">
            <div class="card bg-white">
                <div class="card-content">
                    <div>
                        <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
                            <i class="fa fa-google-plus"></i> Connect with Google+
                        </a>
                    </div>
                </div>
                <div class="card-action no-border text-right">
                    <a href="#/pages/signin">Login</a>
                    <a href="#/" class="color-primary">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>
